# sshd_config /etc/ssh/sshd_conig Login rules.

port 22
protocol 2

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
X11Forwarding no

usePAM yes
PubKeyAuthentication yes
AllowTCPForwarding yes

MaxAuthTries 3
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 2

AllowUsers mukul
